<% if @contest.private? %>
  <%= @inviter.name %> just invited you to their league on FairMarketFantasy.com.
<% else %>
  <%= @inviter.name %> challenged you on FairMarketFantasy.com
<% end %>

<a href="<%= SITE %>/contests/join?contest_code=<%= @contest.invitation_code %>&referral_code=<%= @invitation && @invitation.code %>">Click here to join the game!</a>

<%= @message %>
