<% if invitation.contest.private? %>
  <%= inviter.name %> just invited you to their league on FairMarketFantasy.com.
<% else %>
  <%= inviter.name %> challenged you on FairMarketFantasy.com
<% end %>
to join their <%= invitation.contest.contest_type.description %>

<a href="<%= SITE %>/#/contests/<%= invitation.contest.id %>/join?contest_code=<%= invitation.contest.invitation_code %>&referral_code=<%= invitation.code %>">Click here to join the game!</a>
