<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]> <html class="ie ie6" lang="en" xmlns:fb="http://ogp.me/ns/fb#" xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if IE 7]> <html class="ie ie7" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:ng="http://angularjs.org" ng-app="app" id="app"> <!--<![endif]-->
<head>
  <!-- http://docs.angularjs.org/guide/ie -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- CSS DIFF -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <%
    title = @page_title || 'FanFairFantasy'
    description = @page_description || 'FanFairFantasy is the fairest fantasy sports gambling website out there'
    keywords = @page_keywords || ''
    tagline = "The fair market fantasy game!"
  %>  
  <title><%= title %></title>

  <!-- TODO: Fill in the og goodness -->
  <!-- og: == 'Open Graph Protocol' - Makes you Facebook "Like" Button & Sharing Friendly -->
  <meta name="title" content="<%= title %>" property="og:title" />
  <meta name="og:type" content="<%= @og_type || '' %>" property="og:type" />
  <meta name="og:url" content="<%= @og_url || '' %>" property="og:url" />
  <meta name="og:image" content="<%= @og_image || '' %>" property="og:image" />
  <meta name="og:site_name" content="<%= @og_site || '' %>" property="og:site_name" />
  <meta name="fb:app_id" content="<%= nil %>" property="fb:app_id" />
  <meta name="fb:admins" content="" property="fb:admins" />
  <meta name="description" content="<%= description %>" property="og:description" />
  <meta name="copyright" content="" />
  <meta name="author" content="MustWin, LLC" />

  <!-- SEO -->
  <meta name="description" content="<%= description %>"/>
  <meta name="keywords" content="<%= keywords %>"/>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", "flat-ui", "fmf", :media => "all" %>

  <!-- TODO: make these icons -->
  <link rel="shortcut icon" href="<%= asset_path 'fanfairfantasy.ico' %>"/>
  <link rel="apple-touch-icon" href="<%= asset_path 'fanfairfantasy-i-128.png' %>"/>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
  /* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.demo-headline {
  font-size: 110px !important;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 50px;
  padding: 40px 0;
  text-align: center;
  word-wrap: break-word;
}
.demo-row {
  margin: 0 auto;
  padding: 0 20px 50px;
  width: 900px;
  *zoom: 1;
}
.demo-row:before,
.demo-row:after {
  display: table;
  content: "";
}
.demo-row:after {
  clear: both;
}
.demo-row.typography-row .demo-content {
  position: relative;
  float: none;
  margin-left: 20px;
  width: auto;
  padding-left: 265px;
}
.demo-row.typography-row .header-note,
.demo-row.typography-row .text-note {
  display: block;
  width: 260px;
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #c0c1c2;
  font-weight: 400;
}
.demo-row.typography-row .text-note {
  bottom: auto;
  top: 10px;
}
.demo-row.menu-row {
  padding: 50px 20px 0;
}
.demo-col {
  float: left;
  margin: 0 20px;
  width: 270px;
}
.demo-content {
  float: left;
  margin-left: 20px;
  width: 580px;
}
.demo-content.demo-content-article {
  font-size: 17.99px;
}
.demo-content.demo-content-article p {
  margin-bottom: 20px;
}
.demo-content.demo-content-article ul {
  list-style-type: none;
  margin-left: 0;
}
.demo-content.demo-content-article li {
  line-height: 26.985px;
  padding: 0 0 5px;
}
.demo-content-wide {
  clear: both;
  margin: 0 20px;
}
.demo-title {
  float: left;
  margin: -10px 20px 10px;
  width: 240px;
  font-size: 24.5px;
  line-height: 40px;
}
.demo-title h1,
.demo-title h2,
.demo-title h3,
.demo-title h4 {
  margin-top: 0;
}
.demo-title h1,
.demo-title h2,
.demo-title h3 {
  line-height: 40px !important;
}
.demo-title h3 {
  font-size: 24.5px !important;
}
.demo-title small {
  font-size: 13px;
  font-weight: 400;
}
.demo-buttons .btn,
.demo-inputs .control-group {
  margin-bottom: 20px;
}
.demo-navigation .demo-title {
  margin-top: 10px;
}
.demo-pager {
  margin-top: -10px;
}
.demo-tooltips {
  height: 100px;
}
.demo-tooltips .tooltip {
  left: -8px !important;
  position: relative !important;
  top: -8px !important;
}
.demo-tooltips .tooltip-inner {
  max-width: 100%;
  width: auto;
}
.demo-popovers .popover {
  display: block;
  margin: 0 13px 0 -3px;
  position: relative;
  width: auto;
}
.demo-social-buttons .btn {
  clear: left;
  float: left;
  margin-bottom: 17px;
}
.demo-headings {
  margin-bottom: 12px;
}
.demo-tiles {
  margin-bottom: 46px;
}
.demo-icons {
  font-size: 32px;
  margin-left: -15px;
}
.demo-icons > span {
  display: inline-block;
  margin: 0 0 32px 35px;
  width: 32px;
}
@media (max-width: 480px) {
  .demo-icons > span {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.demo-icons-tooltip {
  bottom: 0;
  color: #c2c8cf;
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}
.demo-inline {
  display: inline-block;
}
#appendedInputButton-01 {
  width: 188px;
}
#appendedInputButton-02 {
  width: 197px;
}
#appendedInputButton-04 {
  width: 211px;
}
#datepicker-01 {
  width: 223px;
}
#prependedInput-01,
#prependedInput-02,
#prependedInput-03,
#prependedInput-04 {
  width: 212px;
}
#appendedInputButton-03 {
  width: 162px;
}
#search-query-1 {
  width: 215px;
}
#search-query-2,
#search-query-5 {
  width: 211px;
}
#search-query-3 {
  width: 216px;
}
#search-query-4,
#search-query-7 {
  width: 219px;
}
#search-query-6 {
  width: 214px;
}
#search-query-8,
#search-query-9 {
  width: 226px;
}
.demo-col .ui-spinner {
  max-width: 221px;
}
.demo-illustrations {
  margin-top: 40px;
}
.demo-illustrations .demo-content-wide {
  margin: 0 0 0 -66px;
  padding-top: 20px;
}
.demo-illustrations .demo-content-wide > div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 0 80px 87px;
  text-align: center;
}
.demo-illustrations img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  vertical-align: baseline;
}
.demo-dialog input.flat {
  width: 286px;
}
@media (max-width: 1023px) {
  .demo-dialog input.flat {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .demo-dialog input.flat {
    width: 100%;
  }
}
.static-modal-backdrop {
  background-color: #243342;
  padding: 62px 14px;
  margin-bottom: 50px;
}
.demo-sidebar {
  height: 100%;
  left: 0;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 150px;
  z-index: 10000;
  background-color: #f3f4f5;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.demo-sidebar li:first-child a {
  padding-top: 20px;
}
.demo-sidebar a {
  display: block;
  padding: 7px 20px;
}
@media (max-width: 767px) {
  .hide-on-tablets {
    display: none;
  }
  .demo-row {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
  .demo-col,
  .demo-content,
  .demo-content-wide,
  .demo-title {
    float: none;
    margin: 0 0 18px !important;
    padding: 0 !important;
    width: auto;
  }
  .demo-headline {
    font-size: 65.002px !important;
    text-align: left;
  }
  .demo-inline {
    display: block;
  }
  .demo-navigation .btn-toolbar {
    margin: 0;
  }
  .demo-navigation .pager,
  .demo-navigation .mll.pvm {
    display: block;
    margin: 0 0 20px;
    padding: 0;
  }
  .typography-row .header-note,
  .typography-row .text-note {
    position: static !important;
    margin: 0 0 10px;
  }
  .static-modal-backdrop {
    margin-left: -20px;
    margin-right: -20px;
  }
}

  </style>
</head>

<body class="guide" ng-controller="ApplicationController">

 <%= yield %>

<!-- Setup some handy globals -->
<script type="text/javascript">
  window.App = {
    site: "<%= SITE %>",
    currentUser: <%= (UserSerializer.new(current_user, scope: current_user).to_json.html_safe) || 'null' %>,
    isUserAdmin: <%= current_user && current_user.admin? || false %>,
  };
  window.setCurrentUser = function(user) {
    window.App.currentUser = user;
  };
</script>

<%= javascript_include_tag "application" %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43238810-1', 'fanfairfantasy.com');
  ga('send', 'pageview');

</script>

<%= yield :javascript %>

<%= javascript_include_tag "guide" %>
<script>

angular.module('guide', ['guide.controllers'])
angular.module('guide.controllers', [])
.controller('ApplicationController', ['$scope', function($scope) {

}])

</script>

</body>
</html>
<!-- Another #winning product brought to you by MustWin! http://mustw.in -->

