<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]> <html class="ie ie6" lang="en" xmlns:fb="http://ogp.me/ns/fb#" xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if IE 7]> <html class="ie ie7" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="redpen" id="redpen"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:ng="http://angularjs.org" ng-app="app" id="app"> <!--<![endif]-->
<head>
  <!-- http://docs.angularjs.org/guide/ie -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- CSS DIFF -->
  <meta name="viewport" content="width=1200">

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <%
    title = @page_title || 'FanFairFantasy'
    description = @page_description || 'FanFairFantasy is the fairest fantasy sports gambling website out there'
    keywords = @page_keywords || ''
    tagline = "The fair market fantasy game!"
  %>  
  <title><%= title %></title>

  <!-- TODO: Fill in the og goodness -->
  <!-- og: == 'Open Graph Protocol' - Makes you Facebook "Like" Button & Sharing Friendly -->
  <meta name="title" content="<%= title %>" property="og:title" />
  <meta name="og:type" content="<%= @og_type || '' %>" property="og:type" />
  <meta name="og:url" content="<%= @og_url || '' %>" property="og:url" />
  <meta name="og:image" content="<%= @og_image || '' %>" property="og:image" />
  <meta name="og:site_name" content="<%= @og_site || '' %>" property="og:site_name" />
  <meta name="fb:app_id" content="<%= nil %>" property="fb:app_id" />
  <meta name="fb:admins" content="" property="fb:admins" />
  <meta name="description" content="<%= description %>" property="og:description" />
  <meta name="copyright" content="RedPen Corp" />
  <meta name="author" content="MustWin, LLC" />

  <!-- SEO -->
  <meta name="description" content="<%= description %>"/>
  <meta name="keywords" content="<%= keywords %>"/>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", "flat-ui", "fmf", :media => "all" %>

  <!-- TODO: make these icons -->
  <link rel="shortcut icon" href="<%= asset_path 'fanfairfantasy.ico' %>"/>
  <link rel="apple-touch-icon" href="<%= asset_path 'fanfairfantasy-i-128.png' %>"/>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body ng-controller="ApplicationController">

  <div class="landing-container">
    <div class="span4 right-content">
      <div class="login-buttons">
        <h2 class="sign-up-heading">Market Driven Player Pricing &amp; the Lowest Rake in Daily Fantasy Sports!</h2>
        <p class="sign-up-text">At Fair Market Fantasy you can play daily and weekly fantasy football leagues for real money! Our player prices are set in real time, based on market demand, and our rake is only 3% (compared to 10% elsewhere.) Sign up and feel the difference!</p>

        <p><a href="" class="btn btn-large btn-block btn-danger">Sign Up, Now!</a></p>
        <p><a href="javascript://" class="btn btn-large btn-block btn-oauth btn-social-facebook" ng-click="login('facebook')"><i class="icon fui-facebook"></i> Sign Up with Facebook</a></p>
      </div>

    </div>
    
  </div>


<!-- Setup some handy globals -->
<script type="text/javascript">
  window.App = {
    site: "<%= SITE %>",
    currentUser: <%= (UserSerializer.new(current_user, scope: current_user).to_json.html_safe) || 'null' %>,
    isUserAdmin: <%= current_user && current_user.admin? || false %>,
  };
  window.setCurrentUser = function(user) {
    window.App.currentUser = user;
  };
</script>

<%= javascript_include_tag "application" %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43238810-1', 'fanfairfantasy.com');
  ga('send', 'pageview');

</script>

<%= yield :javascript %>

</body>
</html>
<!-- Another #winning product brought to you by MustWin! http://mustw.in -->

