<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]> <html class="ie ie6" lang="en" xmlns:fb="http://ogp.me/ns/fb#" xmlns:ng="http://angularjs.org" ng-app="app" id="app"> <![endif]-->
<!--[if IE 7]> <html class="ie ie7" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="app" id="app"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="app" id="app"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#"    xmlns:ng="http://angularjs.org" ng-app="app" id="app"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:ng="http://angularjs.org" ng-app="app" id="app"> <!--<![endif]-->
<head>
  <!-- http://docs.angularjs.org/guide/ie -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- CSS DIFF -->
  <meta name="viewport" content="width=1200">

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <%
    title = @page_title || 'Predict That'
    description = @page_description || 'Predict That is the fairest fantasy sports gaming website out there'
    keywords = @page_keywords || ''
    tagline = "The fair market fantasy game!"
  %>
  <title><%= title %></title>

  <!-- TODO: Fill in the og goodness -->
  <!-- og: == 'Open Graph Protocol' - Makes you Facebook "Like" Button & Sharing Friendly -->
  <meta name="title" content="<%= title %>" property="og:title" />
  <meta name="og:type" content="<%= @og_type || '' %>" property="og:type" />
  <meta name="og:url" content="<%= @og_url || '' %>" property="og:url" />
  <meta name="og:image" content="<%= @og_image || '' %>" property="og:image" />
  <meta name="og:site_name" content="<%= @og_site || '' %>" property="og:site_name" />
  <meta name="fb:app_id" content="<%= nil %>" property="fb:app_id" />
  <meta name="fb:admins" content="" property="fb:admins" />
  <meta name="description" content="<%= description %>" property="og:description" />
  <meta name="copyright" content="Predict That, LLC" />
  <meta name="author" content="Predict That, LLC" />

  <!-- SEO -->
  <meta name="description" content="<%= description %>"/>
  <meta name="keywords" content="<%= keywords %>"/>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", "flat-ui", "fmf", "fonts", :media => "all" %>

  <!-- TODO: make these icons -->
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>"/>
  <link rel="apple-touch-icon" href="<%= asset_path 'favicon.ico' %>"/>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body ng-controller="ApplicationController" class="landing-body {{$routeParams.sport}} {{$routeParams.category}}" ng-cloak >
<!-- GA SHIT -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46242308-1', 'fairmarketfantasy.com');
  //ga('send', 'pageview'); // Handled by angulartics

</script>
  <div flash-alert active-class="alert in" class="fixed-flash fade">
    <div class="container">
      <div class="row">
        <div class="span12">
          <strong class="alert-heading"></strong>
          <span class="alert-message">{{flash.message}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-header land-nav">
    <div class="container clearfix">
      <div class="span7 nav-span nav-menu">
        <h1 class="logo-font"><a href="/#/external">Predict <span class="logo-slash">That</span></a></h1>
        <nav ng-class="{true :'disable-nav'}[disable]" class="landing-nav">
          <ul>
            <em class="new"></em>
            <li ng-repeat="category in sports">
              <div ng-show="category.note" ng-class="{in : popover_sports}" class="popover bottom fade header-popover">{{category.note}} <div class="arrow"></div></div>
              <a class="dropdown-toggle" ng-mouseleave="popover_sports = false" ng-mouseenter="popover_sports = true">{{category.name | underscore}}</a>
              <ul class="header-drop-menu dropdown-menu">
                <li  ng-repeat="sport in category.sports"  ng-show="sport.is_active" >
                  <em class="menu-arrow" ng-class="{'active-arrow': $routeParams.sport == sport.name && $routeParams.category == category.name }"></em>
                  <a class="landing-nav-link" ng-hide="sport.coming_soon"  href="/#/{{category.name}}/{{sport.name}}/external">{{sport.name}}</a>
                  <a style="cursor:default;" ng-show="sport.coming_soon" popover-trigger="mouseenter" popover="coming soon" popover-placement="right" class="landing-nav-link" href="javascript://">{{sport.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <!--<div class="span2 nav-span">-->
        <!--<a class="coming-soon-nav"><span>New Daily NBA Games</span></a>-->
      <!--</div>-->
      <div class="span2 nav-span">
        <a class="sign-in-nav" href="javascript://" ng-click="loginModal()">Sign In</a>
      </div>
      <div class="span2 nav-span">
        <a href="javascript://" class="sign-up-nav" ng-click='signUpModal()'>Sign Up</a>
      </div>
    </div>
  </div>
  <div class="landing-container clearfix">
    <div class="span6 sign-up-content">
      <div class="login-buttons" ng-controller="LoginController">
        <!--<div class="sample-team clearfix" ng-include="'/sample_team.html'"></div>-->
        <div ng-hide="!landingShow" id="content" ng-view>
        </div>
        <p class="terms">
          <span>Roster competes against 11 others and the roster <br />with the most fantasy points wins 100 Fanbucks!</span>
          <a href="/conditions" target="_blank">Terms and Conditions</a>
        </p>

      </div>

      <div class="landing-mobile-app-links">
        <a class="ios-app-link" target="_blank" href="https://itunes.apple.com/app/predictthat/id869434589?mt=8"></a>
        <a class="android-app-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.fantasysport"></a>
      </div>
    </div>
    <div class="sign-up-content clearfix">
      <div id="playoff-teaser">
        <h4>Sign up and create</h4>
        <h4 ng-show="$routeParams.category == 'fantasy_sports'">your own team and begin making</h4>
        <h4 ng-show="$routeParams.category == 'sports'">your own roster and begin making</h4>
        <h4>unlimited free predictions</h4>
        <!--<p><a href="javascript://" class="btn btn-large btn-success" ng-click='signUpModal()'>Sign up Now!</a></p>-->
        <!--<h4>$10 monthly fee allows <br /> unlimited free predictions <br /> to win contest prizes</h4>-->
        <!--<p>15 day free trial</p>-->
      </div>
    </div>

  </div>
  <article class="about-container">
    <div class="fanbucks-convert">
      <span></span>
      <h3>fanbucks can convert to cash</h3>
      <span></span>
    </div>
    <div class="container">
      <div class="row">
        <div class="span7 about-section first-section">
          <h1>Fanbucks</h1>
          <p>Fanbucks are a virtual currency with no value outside of the PredictThat website. They are used to accumulate awards and prediction charges. If at the end of the calendar month, your account has a positive Fanbuck balance, we will make some adjustments for balances above 100 fanbucks (<a target="_blank" href="/conditions">see terms and conditions</a>) and then we will deposit the resulting amount as that balance in dollars into your PredictThat account balance and set your Fanbuck balance back to zero. If your Fanbuck balance is negative for the calendar month, it will be rolled over into the following month, but only to a maximum of negative 50 Fanbucks.</p>

          <h1>About</h1>
          <p><span class="special">Predict </span><span class="tilt">That</span> allows you to make a prediction by picking a roster of players for a game or just predict how an individual player will do in the game. If you pick a roster of players, you compete against rosters of other users in a 12 team contest for prizes. If you correctly make an individual prediction, you receive a prize based on the PT value of that prediction.</p>
          <p>For a $10 monthly fee, you get access to the site, content, chat, and the ability to make unlimited predictions in the team and individual contests. All prizes are denominated in Fanbucks and each prediction costs a prediction charge of 15 Fanbucks. If you have positive Fanbucks at the end of the month, we will make some adjustments for balances above 100 fanbucks (see terms and conditions) , and after that they are converted into dollars and placed in your account. If you end up with a negative Fanbuck balance you start over at zero the next month. Predict often and predict correctly!!! You have nothing at stake and nothing at risk.</p>
          <p>For more information on how it works: <a href="/support">How it works</a> or rules and scoring: <a href="/pages/mobile/rules?sport={{$routeParams.sport}}">Rules and Scoring</a></p>
        </div>
        <div class="span5">
          <%= image_tag 'pt_big.png', :class => 'landing-icon first-image' %>
        </div>
      </div>
    </div>
  </article>


<%= render :partial => 'templates/ng_includes' %>

<!-- Setup some handy globals -->
<script type="text/javascript">
  window.App = {
    site: "<%= SITE %>",
    currentUser: <%= (UserSerializer.new(current_user, scope: current_user).to_json.html_safe) || 'null' %>,
    isUserAdmin: <%= current_user && current_user.admin? || false %>,
    sports: <%= Category.all.map{|s| CategorySerializer.new(s, scope: current_user) }.to_json.html_safe %>,
    defaultSport: <%= { :name => Sport.active.first.name, :category_name => Sport.active.first.category.name }.to_json.html_safe %>
  };

  window.setCurrentUser = function(user) {
    window.App.currentUser = user;
  };
</script>

<%= javascript_include_tag "application" %>

<%= yield :javascript %>

</body>
</html>
<!-- Another #winning product brought to you by MustWin! http://mustw.in -->

